#         _ _   _
#    __ _(_) |_(_) __ _ _ __   ___  _ __ ___
#   / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
#  | (_| | | |_| | (_| | | | | (_) | | |  __/
# (_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#   |___/         |___/

# As we need to filter out any sensitive/unnecessary information
# form posting in our dotfiles repo.

#___________ Global Rules ____________
*.lock
*.bin
*cache*
*Cache*
*Cookies*
*cookie*
*Token*
*token*
*languagepack*
*.db
*storage*
*Storage*
*database*
*.log
*log*
*tmp
*.tmp*
*LICENSE*
*.*zcompdump*
*trash
*runtime
*LOG
Trash
KireiSakura-Kit
nohup.*

#___________ Home Directory ($HOME) ____________

# Firefox and Forks
/.librewolf/*/*
!/.librewolf/*/chrome
!/.librewolf/*/addons.json
!/.librewolf/*/containers.json
!/.librewolf/*/extension*.json
!/.librewolf/*/handlesr.json
!/.librewolf/*/prefs.js
!/.librewolf/*/shield-preference-experiments.json
!/.librewolf/*/xulstore.json
!/.librewolf/*/handlers.json

/.mozilla/firefox/*

# Icons
/.icons/default

# Pictures
/Pictures/*
!/Pictures/Wallpaper

# Zen Browser
/.zen/*/*
!/.zen/*/chrome
!/.zen/*/chrome/zen-themes.css
!/.zen/*/addons.json
!/.zen/*/containers.json
!/.zen/*/extension*.json
!/.zen/*/handlers.json
!/.zen/*/prefs.js
!/.zen/*/shield-preference-experiments.json
!/.zen/*/xulstore.json
!/.zen/*/zen-themes.json
!/.zen/*/zen-keyboard-shortcuts.json
!/.zen/*/zen-workspaces

#___________ .cache Directory ____________

# AGS Cache
!/.cache
/.cache/*
!/.cache/ags
!/.cache/.placeholder
/.cache/ags/*
!/.cache/ags/hyprpanel

#___________ .config Directory ____________

# Standalone files
/.config/*partrc
/.config/baloofileinformationrc
/.config/kactivitymanagerdrc
/.config/knfsshare
/.config/ktorrent_infowidgetrc
/.config/QtProject.conf
/.config/user-dirs.locale

# Brave Browser
/.config/BraveSoftware/Brave-Browser/*
!/.config/BraveSoftware/Brave-Browser/Default/Preferences
!/.config/BraveSoftware/Brave-Browser/NativeMessagingHosts

# Chromium
/.config/chromium/

# CopyQ
/.config/copyq/*
!/.config/copyq/copyq.conf
!/.config/copyq/copyq*.ini

# Dconf
/.config/dconf

# Discord canary
/.config/discordcanary

# Enchant
/.config/enchant

# Geany
/.config/geany/

# GitHub CLI (gh)
/.config/gh/*
!/.config/gh/config.yml

# HandBrake (ghb)
/.config/ghb/*
!/.config/ghb/preferences.json
!/.config/ghb/presets.json

# gimp
/.config/GIMP/2.10/*
!/.config/GIMP/**/themes
!/.config/GIMP/**/*rc

# Github Copilot
/.config/GitHub Desktop/*
!/.config/GitHub Desktop/.title-bar-config
!/.config/GitHub Desktop/Preferences

# Github Copilot
/.config/github-copilot

# GNOME
/.config/gnome-boxes

# Go
/.config/go

# Hypr
/.config/HyprPanel

# KDE
/.config/KDE/UserFeedback*
/.config/kde*/UserFeedback*
/.config/kdeconnect

# LibreOffice
/.config/libaccounts-glib
/.config/libvirt
/.config/libreoffice/4/*
!/.config/libreoffice/4/user
/.config/libreoffice/4/user/*
!/.config/libreoffice/4/user/pack
/.config/libreoffice/4/user/pack/registrymodifications.pack
!/.config/libreoffice/4/user/registrymodifications.xcu

# Media Players
/.config/mpv/playlists
/.config/mpv/watch_later
/.config/vlc/vlc-qt-interface.conf

# MKVToolNix
/.config/bunkus.org/mkvtoolnix-gui/*
!/.config/bunkus.org/mkvtoolnix-gui/mkvtoolnix-gui.ini

# OBS Studio
/.config/obs-studio/basic/profiles/*/phld
/.config/obs-studio/basic/scenes/*.json
/.config/obs-studio/plugin_config
/.config/obs-studio/profiler_data
/.config/obs-studio/basic/scenes/Untitled.json.bak

# Obsidian
/.config/obsidian/*

# Spicetify
/.config/spicetify/CustomApps
/.config/spicetify/Extracted

# VirtualBox
/.config/VirtualBox/*
!/.config/VirtualBox/VirtualBox.xml

# VS Code and Forks
/.config/Code/*
/.config/Code/User/*
!/.config/Code/Preferences
!/.config/Code/User
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json
!/.config/Code/User/snippets

/.config/VSCodium/*
/.config/VSCodium/User/*
!/.config/VSCodium/Preferences
!/.config/VSCodium/User
!/.config/VSCodium/User/keybindings.json
!/.config/VSCodium/User/settings.json
!/.config/VSCodium/User/snippets

# WebCord
/.config/WebCord/*

# Youtube Music
/.config/YouTube Music/*
!/.config/YouTube Music/config.json
!/.config/YouTube Music/Preferences

# Yazi
/.config/yazi/plugins

# ZSH
/.config/zsh/------OLD------
/.config/zsh/zinit
/.config/zsh/*history*

#___________ .local Directory ____________

#------ Bin ------
/.local/bin/*
!/.local/bin/kireisakura

#------ Share ------
/.local/share/*

!/.local/share/applications
!/.local/share/firefoxpwa
!/.local/share/konsole
!/.local/share/media-downloader
!/.local/share/nwg-look
!/.local/share/onboard
!/.local/share/ss
!/.local/share/templates
!/.local/share/color-schemes

# Qalculate
!/.local/share/qalculate
.config/qalculate/*.history

# 64Gram
/.local/share/64Gram/logs*
/.local/share/64Gram/tdata/*
!/.local/share/64Gram/tdata/enhanced-settings-custom.json
!/.local/share/64Gram/tdata/shortcuts-custom.json

# Dolphin and KDE apps
/.local/share/dolphin/kuserfeedback
/.local/share/dolphin/bookmarks.xml
/.local/share/konsole/bookmarks.xml

# Flatpak
/.local/share/flatpak/*
!/.local/share/flatpak/overrides

# Media Downloader
/.local/share/media-downloader/bin
/.local/share/media-downloader/data
/.local/share/media-downloader/engines.v1

# Plasma Desktop
/.local/share/plasma/containmentpreviews
/.local/share/plasma/plasmoids
/.local/share/plasma/desktoptheme/Colloid-dark-nord
/.local/share/plasma/desktoptheme/N-Plasma-Theme
/.local/share/plasma/desktoptheme/Nordic-round
/.local/share/plasma/desktoptheme/Nordic-Solid
/.local/share/plasma/desktoptheme/Wings-Dark-Plasma
/.local/share/plasma/look-and-feel
/.local/share/konsole/konsolestaterc

# ------ state -----
/.local/state

# ------- Misc -----
.config/copyq/copyq_no_session.ini
.config/nvim/.neoconf.json
