# As we need to filter out any sensitive/unnecessary information 
# form posting in our dotfiles repo.


#___________Global__________
*.lock
*cache*
*Cache*
*Cookies*
*cookies*
*Token*
*token*
*languagepack*
*.db
*storage*
*Storage*
*database*
*.log
*log*
*tmp
*.tmp*
*LICENSE*
*.*zcompdump*
*trash*
*runtime
*LOG

#____________Dolphin______________
/.local/share/dolphin/kuserfeedback
/.local/share/dolphin/dolphinstaterc
/.local/share/dolphin/bookmarks.xml


#____________FirefoxPWA__________
/.local/share/firefoxpwa/profiles


#____________Kate______________
/.config/kate/externaltools


#____________Konsole______________
/.local/share/konsole/bookmarks.xml


#_______LazyGit___________
/.config/lazygit/state.yml


#________Librewolf__________
/.librewolf/*/bookmarkbackups
/.librewolf/*/browser-extension-data
/.librewolf/*/datareporting
/.librewolf/*/extension*
/.librewolf/*/gmp*
/.librewolf/*/sessionstore-backups
/.librewolf/*/security_state
/.librewolf/*/storage
/.librewolf/*/weave
/.librewolf/*/.parentlock
/.librewolf/*/addonStartup.json.lz4
/.librewolf/*/addons.json
/.librewolf/*/AlternateServices.bin
/.librewolf/*/autofill-profiles.json
/.librewolf/*/broadcast-listeners.json
/.librewolf/*/cert_override.txt
/.librewolf/*/.parentlock
/.librewolf/*/addonStartup.json.lz4
/.librewolf/*/AlternateServices.bin
/.librewolf/*/autofill-profiles.json
/.librewolf/*/broadcast-listeners.json
/.librewolf/*/cert_override.txt
/.librewolf/*/cert9.db
/.librewolf/*/compatibility.ini
/.librewolf/*/content-prefs.sqlite
/.librewolf/*/cookies.sqlite
/.librewolf/*/cookies.sqlite-wal
/.librewolf/*/enumerate_devices.txt
/.librewolf/*/extension-preferences.json
/.librewolf/*/extension-settings.json
/.librewolf/*/extensions.json
/.librewolf/*/favicons.sqlite
/.librewolf/*/favicons.sqlite-wal
/.librewolf/*/formhistory.sqlite
/.librewolf/*/handlers.json
/.librewolf/*/key4.db
/.librewolf/*/lock
/.librewolf/*/logins-backup.json
/.librewolf/*/logins.json
/.librewolf/*/notificationstore.json
/.librewolf/*/permissions.sqlite
/.librewolf/*/pkcs11.txt
/.librewolf/*/places.sqlite
/.librewolf/*/places.sqlite-wal
/.librewolf/*/prefs.js
/.librewolf/*/protections.sqlite
/.librewolf/*/search.json.mozlz4
/.librewolf/*/serviceworker.txt
/.librewolf/*/sessionCheckpoints.json
/.librewolf/*/signedInUser.json
/.librewolf/*/SiteSecurityServiceState.bin
/.librewolf/*/storage-sync-v2.sqlite
/.librewolf/*/storage-sync-v2.sqlite-shm
/.librewolf/*/storage-sync-v2.sqlite-wal
/.librewolf/*/storage.sqlite
/.librewolf/*/synced-tabs.db
/.librewolf/*/synced-tabs.db-shm
/.librewolf/*/synced-tabs.db-wal
/.librewolf/*/times.json
/.librewolf/*/webappsstore.sqlite
/.librewolf/*/webappsstore.sqlite-wal
/.librewolf/*/xulstore.json
/.librewolf/**/sessionstore.jsonlz4
/.librewolf/**/failover.jsc


#________Libreoffice________________
/.config/libreoffice/4/**/autocorr
/.config/libreoffice/4/**/autotext
/.config/libreoffice/4/**/backup
/.config/libreoffice/4/**/basic
/.config/libreoffice/4/**/GraphicTestResults
/.config/libreoffice/4/**/GraphicsRenderTests.log
/.config/libreoffice/4/**/GraphicTestResults.zip
/.config/libreoffice/4/**/registrymodifications.xcu
/.config/libreoffice/4/**/extensions/buildid
/.config/libreoffice/4/**/config
/.config/libreoffice/4/**/gallery



#_______Mozilla__________
/.mozilla/firefox


#________MPV____________
/.config/mpv/playlists
/.config/mpv/watch_later
/.config/mpv/.directory


#_______NeoVim_____________
/.config/nvim/lazy-lock.json


#________Obsidian____________
/.config/obsidian/USER/*/plugins
/.config/obsidian/USER/*/themes
/.config/obsidian/USER/*/workspace*.json
/.config/obsidian/Crashpad/client_id
/.config/obsidian/Shared Dictionary/db
/.config/obsidian/Shared Dictionary/db-journal
/.config/obsidian/Dictionaries
/.config/obsidian/id
/.config/obsidian/IndexedDB
/.config/obsidian/TransportSecurity
/.config/obsidian/4a294e6d2bff8296.json
/.config/obsidian/obsidian-1.6.5.asar
/.config/obsidian/obsidian.json.config/*
/.config/obsidian/Network Persistent State



#________OBS Studio______________
/.config/obs-studio/profiler_data



#_______Okular___________
/.config/okularpartrc



#_____________Plasma___________________
/.local/share/plasma/containmentpreviews
/.local/share/plasma/plasmoids
/.local/share/plasma/desktoptheme/Colloid-dark-nord
/.local/share/plasma/desktoptheme/N-Plasma-Theme
/.local/share/plasma/desktoptheme/Nordic-round
/.local/share/plasma/desktoptheme/Nordic-Solid
/.local/share/plasma/desktoptheme/Wings-Dark-Plasma
/.local/share/plasma/look-and-feel
/.local/share/konsole/konsolestaterc


#________Spicetify__________
/.config/spicetify/CustomApps
/.config/spicetify/Extracted


#______theme folder_________
# /.themes


#________VsCodium____________
/.config/VSCodium/Backups
/.config/VSCodium/Crashpad
/.config/VSCodium/databases
/.config/VSCodium/Dictionaries
/.config/VSCodium/Local Storage
/.config/VSCodium/Network Persistent State
/.config/VSCodium/.org.chromium.*
/.config/VSCodium/Preferences
/.config/VSCodium/Shared Dictionary
/.config/VSCodium/Service Worker/
/.config/VSCodium/Session Storage/
/.config/VSCodium/User/History
/.config/VSCodium/TransportSecurity
/.config/VSCodium/User/syncLocalSettings.json
/.config/VSCodium/shared_proto_db
/.config/VSCodium/machineid
/.config/VSCodium/Workspaces


#________WebCord_______
/.config/WebCord/TransportSecurity
/.config/WebCord/Crashpad
/.config/WebCord/Dictionaries
/.config/WebCord/Shared Dictionary
/.config/WebCord/Network Persistent State
/.config/WebCord/windowState
/.config/VSCodium/VideoDecodeStats


#_______Youtube-music______
/.config/YouTube Music/VideoDecodeStats/LOG.old
/.config/YouTube Music/Crashpad
/.config/YouTube Music/Dictionaries
/.config/YouTube Music/Local Storage
/.config/YouTube Music/.updaterId
/.config/YouTube Music/IndexedDB
/.config/YouTube Music/Network Persistent State
/.config/YouTube Music/Service Worker
/.config/YouTube Music/Session Storage
/.config/YouTube Music/TransportSecurity
/.config/YouTube Music/VideoDecodeStats
/.config/YouTube Music/Shared Dictionary
/.config/YouTube Music/tempIcon.png
/.config/YouTube Music/SingletonSocket
/.config/YouTube Music/SingletonLock
/.config/YouTube Music/SingletonCookie
/.config/YouTube Music/shared_proto_db


#________ZSH__________
/.config/zsh/------OLD------
/.config/zsh/zinit
/.config/zsh/*history*


#______ZED_______
#/.config/zed/
