[Desktop Entry]
Categories=Network;FileTransfer;P2P
Comment[en_IN]=Starts the main syncthing process in the background.
Comment=Starts the main syncthing process in the background.
Exec=/usr/bin/syncthing serve --no-browser --logfile=default
GenericName[en_IN]=File synchronization
GenericName=File synchronization
Icon=syncthing
Keywords=synchronization;daemon;
MimeType=
Name[en_IN]=Syncthing
Name=Syncthing
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
