/**
 *
 * Catppuccin-macchiato-maroon
 * 
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #282839FF;
    foreground:     #D9E0EEFF;
    selected:       #EE99A0FF;
    selected-alt:   #ed8796FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
