[Desktop Entry]
Comment=HTML file
Icon=preferences-document
Name[en_US]=HTML File
Name=HTML
Type=Link
URL[$e]=file:$HOME/.local/share/templates/source/example.html
