[Desktop Entry]
Name=No-BorgBackup File
Comment=File for excluding borg backup
Type=Link
URL=/home/soymadip/.local/share/templates/source/.noborgbackup
Icon=vorta
