# Disable Close,Min,Max Buttons:

.titlebar-close {
  display: none !important;
}

.titlebar-min {
  display: none !important;
}

.titlebar-max {
  display: none !important;
}

.titlebar-restore {
  display: none !important;
}
