[Desktop Action New]
Exec=alacritty
Name=New Terminal

[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment[en_US]=A fast, cross-platform, OpenGL terminal emulator
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=alacritty
GenericName[en_US]=Terminal
GenericName=Terminal
Icon=lxterminal
MimeType=
Name[en_US]=Alacritty
Name=Alacritty
Path=
StartupNotify=true
StartupWMClass=Alacritty
Terminal=false
TerminalOptions=
TryExec=alacritty
Type=Application
X-Desktop-File-Install-Version=0.27
X-KDE-SubstituteUID=false
X-KDE-Username=
