[Desktop Entry]
Categories=Utility;
Comment[en_US]=
Comment=
Exec=kitty --class bottom btm
GenericName[en_US]=Bottom
GenericName=Bottom
Icon=thermal-monitor
MimeType=
Name[en_US]=Bottom
Name=Bottom
Name[en_IN]=Bottom
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
