[Desktop Entry]
Comment=
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=hnpfjngllnobngcgfapefoaidbinmjnm
GenericName=whatsapp for messaging
Icon=com.github.eneshecan.WhatsAppForLinux
Name=WhatsApp Web
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=crx_hnpfjngllnobngcgfapefoaidbinmjnm
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
