[Desktop Action new-private-window]
Exec=/usr/lib/librewolf/librewolf --private-window %u
Name=Open a New Private Window

[Desktop Action new-window]
Exec=/usr/lib/librewolf/librewolf --new-window %u
Name=Open a New Window

[Desktop Action profile-manager-window]
Exec=/usr/lib/librewolf/librewolf --ProfileManager %u
Name=Open the Profile Manager

[Desktop Entry]
Actions=new-window;new-private-window;profile-manager-window;
Categories=Network;WebBrowser;
Comment=privacy focused Firefox
Exec=/usr/lib/librewolf/librewolf %u
GenericName=Web Browser
Icon=firefox-nightly
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=LibreWolf
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=LibreWolf
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
