[Desktop Entry]
Categories=Utility;
Comment[en_US]=
Comment=
Exec=nwg-look
GenericName[en_US]=
GenericName=
Icon=nwg-look
MimeType=
Name[en_US]=nwg-look
Name=nwg-look
Name[en_IN]=nwg-look
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
