.markdown-preview-view .mod-highlighted {
  color: black;
  background-color: fuchsia;
}

.footnotes {
text-align: justify;
hyphens: auto;
font-size: 15px;
}

sup {
vertical-align: top;
font-size: 9px;
display: inline-block;
position: relative;
margin: -1px 0 0 1px;
}
sub {
vertical-align: bottom;
font-size: 11px;
display: inline-block;
position: relative;
margin: 0px 0 -4px 3px;
}